{% extends 'base_html/base.html' %}

{% block content %}
<form action = "/register" method = "post">
    <div class="mb-3">
        <label>Username</label>
        <input type = "text" name = "username" placeholder = "Имя" class="form-control" />
    </div> 
    <div class="mb-3">
        <label>Email</label>
        <input type = "email" name = "email" placeholder = "Фамилия" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Password</label>
        <input type = "password" name = "hashed_password" placeholder = "Фамилия" class="form-control" />
    </div>
    <input type = "submit" value = "Отправить" class="btn btn-primary mb-3"/>
 </form> 
  
{% endblock content %}
